@media screen and (max-width: 1024px) {
	.container {
		width: 1024px;
	}
	.services {
		display: none;
	}
	.connect {
		margin-left: auto;
	}
	.image-man {
		right: 0;
		top: 88px;
	}
	.image-man-mob {
		display: none;
	}
	.background-wrapper-present {
	background: url('images/Ellipse.png') no-repeat 420% -110%;
	width: 100%;
    height: 668px;
	}
	.container-present {
		position: absolute;
		top: 330px;
		height: 250px;
		transition: .5s;
	}
	.container-present__forename {
		font-size: 54px;
		transition: .6s;
	}
	.container-present__prof {
		font-size: 25px;
	}
	.container-present__name,
	.container-present__prof,
	 .container-present__btn{
		margin-left: 35px;
	}
	.skills__btn {
		margin-left: 0;
	}
	.hooks {
		top: 120px;
		left: 70px;

	}
	.grid {
		top: 640px;
		left: 50px;
	}
	.div {
		top: 120px;
		left: 860px;
	}
	.div_big {
		top: 230px;
		left: 370px;
	}
	.close_tag {
		left: 300px;
		top: 570px;
	}

	.work-text {
		padding-top: 80px;
	}
	.skills {
		flex-wrap: wrap;
		width: 680px;
		height: 400px;
		margin: 0 auto;
	}
	.skills__item {
		width: 280px;
		height: 200px;
	}
	.skills__text {
		margin-top: 10px;
	}
	.block-skills-btn {
		margin-top: 0;
	}
	.container-present__btn {
		margin-top: ;
	}
	.connect-button__call {
		margin-right: 40px;
	}
	
	.banner-adaptive-block__head-text,
	.banner-adaptive-block__text {
		padding-left: 40px;
	}
	.banner-adaptive-block__head-text {
		font-size: 45px;
	}
	.banner-adaptive-block__text {
		font-size: 18px;
	}

	.w_hooks2,
	.w_grid {
		display: none;
	}
	.w_hooks {
		width: 35px;
		height: 35px;
		top: 30px;
		left: 150px;
	}
	.w_div {
		top: 300px;
		right: 460px;
		width: 60px;
		height: 30px;
	}
	.w_close_tag {
		top: 280px;
		right: 90px;
	}

	.footer-services__list  {
		padding-left: 40px;
	}
	.social-list {
		margin-right: 50px;
	}



	.slides-container,
	.slides-container-mob {
		display: none;
	}
	.slides-container-tablet {
		display: block;
		width: 890px;
		margin: 0 auto;
	}
	.slides-container__item {
		margin-left: 1px;
		margin-right: 40px;
		height: 390px;
	}
	.slides-container__img {
		width: 430px;
		height: 330px;
	}
	.banner-adaptive-block {
		padding-left: 0;
	}

	/*Мини-меню*/
	.mini-menu {
		display: block;
	}
	.menu-btn {
		position: absolute;
		top: 20px;
		left: 40px;
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		margin: 0;
		background-color: #fff;
		border-radius: 50%;
	}

	.menu-btn span,
	.menu-btn span::before,
	.menu-btn span::after {
		position: absolute;
		top: 50%;
		width: 45px;
		height: 6px;
		background: linear-gradient(to top right, #01463b, #26a69a);
	}

	.menu-btn span::before,
	.menu-btn span::after {
		content: '';
		display: block;
		transition: 0.3s;
	}

	.menu-btn span::before {
		transform: translateY(-15px);
	}

	.menu-btn span::after {
		transform: translateY(10px);
	}

	.menu-btn-active span::before {
		transform: rotate(42deg);
	}

	.menu-btn-active span::after {
		transform: rotate(-42deg);
	}

	.menu-btn-active span {
		height: 0;
	}

	/*Сворачиваемое меню*/
	.container-menu-mini {
		position: absolute;
		top: 100px;
		width: 100%;
		height: 300vh;
		background: linear-gradient(to top right, #01463b, #26a69a);
	}
	.container-menu-mini__item {
		display: block;
		width: 160px;
		border-bottom: 2px solid #fff;
		margin: 35px 35px;
	}
	.container-menu-mini__link {
		color: #fff;
		text-decoration: none;
		font-size: 30px;
	}

	.scroll {
		overflow: hidden;
	}
	.display {
		display: none;
	}

	.container-present__forename_mini {
		color: #fff;
		transition: .5s;
	}
	.container-present__prof_mini {
		color: #fff;
	}
	.container-present_tab {
		margin-top: 90px;
	}
}