@media screen and (max-width: 320px) {
	.container {
		max-width: 320px;
	}
	.container-head {
		height: 76px;
	}
	.services {
		display: none;
	}
	.connect {
		display: block;
		margin: auto;
	}
	/*Круглый значок звонка*/
	.mobil_call {
		position: absolute;
		right: 20px;
		display: block;
		width: 30px;
		height: 30px;
	}
	.mobil_call__img {
		width: 30px;
		height: 30px;
	}
	.connect .tel {
		text-align: center;
	}
	.tel {
		font-size: 18px;
	}
	.image-man {
		display: none;
	}
	.image-man-mob {
		display: block;
		position: relative;
		width: 230px;
		right: -89px;
		top: 9px;
	}
	.background-wrapper-present {
		background: url('images/Ellipse.png') no-repeat 45% -950% / 140%;
		width: 100%;
		height: 363px;
	}
	.container-present {
		justify-content: space-evenly;
		align-items: center;
		width: 320px;
		position: absolute;
		top: 439px;
		margin-top: 5px;
		height: 200px;
		box-sizing: border-box;
	}
	.container-present__name,
	.container-present__prof,
	 .container-present__btn{
		margin: 0px;
	}
	.container-present__name {
		margin-top: 10px;
	}
	.container-present__btn {
		margin-top: 20px;
	}
	.container-present__forename {
		font-size: 30px;
		/*transition: .6s;*/
	}
	.container-present__prof {
		font-size: 16px;
		text-align: center;
		width: 250px;
		margin-left: 0 auto;
	}
	.container-present__link {
		font-size: 16px;
	}

	.hooks {
		width: 25px;
		height: 25px;
		top: 100px;
		left: 45px;
		background-size: contain;
	}
	.grid {
		width: 22px;
		height: 22px;
		top: 200px;
		left: 30px;
		background-size: contain;
		z-index: -1;
	}
	.div {
		display: none;
	}
	.div_big {
		width: 35px;
		height: 35px;
		top: 120px;
		left: 240px;
		background-size: contain;
		z-index: -1;
	}
	.close_tag {
		width: 25px;
		height: 25px;
		left: 120px;
		top: 75px;
		background-size: contain;
		z-index: -1;
	}

	.work-text{
		text-align: center;
		margin: 0 auto;
		width: 230px;
		font-size: 30px;
		padding: 220px 0 50px;
	}
	.work-examples__work-text {
		padding: 50px 0 50px;
	}
	.work-examples {
		height: 645px;
	}
	.skills {
		justify-content: center;
		flex-wrap: wrap;
		width: 320px;
		height: 400px;
		margin: 0 auto;
	}
	.skills__item {
		width: 230px;
		height: 130px;
	}
	.skills__item:not(:first-child) {
		margin-top: 30px;
	}
	.skills__img {
		width: 60px;
	}
	.skills__text {
		font-size: 16px;
		margin-top: 10px;
	}
	.block-skills-btn {
		margin-top: 250px;
		padding-bottom: 0;
	}
	.block-skills-btn_order {
		margin-top: 50px;
	}
	.connect-button__call {
		display: none;
	}
	.connect-button__call_footer {
		display: block;
		text-align: center;
		width: 193px;
		padding: 7px 43px; 
		font-size: 16px;
		background-color: #fb8c00;
		color: #fff;
		border: none;
	}
	.connect-button__call_footer:hover {
		background-color: #025346;
	}
	.banner-adaptive-wrapper {
		height: 437px;
	}
	.banner-adaptive-block {
		height: 437px;
		justify-content: flex-start;
	}
	
	.banner-adaptive-block__head-text,
	.banner-adaptive-block__text {
		padding-left: 20px;
	}
	.banner-adaptive-block__head-text {
		padding-top: 35px;
		font-size: 28px;
		width: 280px;
		line-height: 1.4em;
	}
	.banner-adaptive-block__text {
		font-size: 15px;
		width: 280px;
		line-height: 2.1em;
	}

	.w_hooks2,
	.w_hooks,
	.w_div,
	.w_close_tag,
	.w_grid {
		display: none;
	}
	.w_hooks {
		width: 35px;
		height: 35px;
		top: 30px;
		left: 150px;
	}
	.w_div {
		top: 300px;
		right: 460px;
		width: 60px;
		height: 30px;
	}
	.w_close_tag {
		top: 280px;
		right: 90px;
	}
	.footer-container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: 450px;
	}
	.footer-services {
		margin-top: 40px;
	}
	.footer-services__list  {
		padding-left: 20px;
	}
	.footer-services__link {
		font-size: 15px;
	}
	.footer-connect {
		margin: 25px 0 0 20px;
	}
	.social-list {
		margin-top: 30px;
		width: 205px;
	}
	.social__item {
		margin-right: 15px;
	}
	.tel {
		font-size: 15px;	
		width: 225px;
	}
	.tel__link {
		font-size: 20px;
		font-weight: 500;
	}
	.email {
		font-size: 15px;
		width: 245px;
		vertical-align: middle;
		line-height: 30px;
		margin-top: 20px;
	}
	.email__link {
		font-size: 20px;
		font-weight: 500;
	}
	.footer-links {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
	}
	.footer-links__connect-button {
		display: block;
		margin-top: 25px;
	}


	.slides-container,
	.slides-container-tablet {
		display: none;
	}
	.slides-container-mob {
		display: block;
		width: 280px;
		margin: 0 auto;
	}
	.slides-container__item {
		margin-left: 0;
		margin-right: 40px;
		width: 240px;
		height: 300px;
	}
	.slides-container__img {
		width: 320px;
		height: 250px;
	}
	.slides-container__text {
		font-size: 15px;
		padding-top: 22px;
		width: 290px;
	}
	.slick-arrow {
		background-size: cover;
		width: 45px;
		height: 45px;
		margin-top: 5px;
	}
	.slick-prev {
		left: -20px;
	}
	/*Мини-меню*/
	.mini-menu {
		display: block;
	}
	.menu-btn {
		position: absolute;
		top: 30px;
		left: 20px;
		display: block;
		float: left;
		width: 25px;
		height: 20px;
		margin: 0;
		background-color: #fff;
		border-radius: 50%;
	}

	.menu-btn span,
	.menu-btn span::before,
	.menu-btn span::after {
		position: absolute;
		top: 25%;
		width: 25px;
		height: 4px;
		background: linear-gradient(to top right, #01463b, #26a69a);
	}

	.menu-btn span::before,
	.menu-btn span::after {
		content: '';
		display: block;
		transition: 0.3s;
	}

	.menu-btn span::before {
		transform: translateY(-8px);
	}

	.menu-btn span::after {
		transform: translateY(7px);
	}

	.menu-btn-active span::before {
		transform: rotate(42deg);
	}

	.menu-btn-active span::after {
		transform: rotate(-42deg);
	}

	.menu-btn-active span {
		height: 0;
	}

	/*Сворачиваемое меню*/
	.container-menu-mini {
		position: absolute;
		top: 75px;
		width: 100%;
		height: 300vh;
		background: linear-gradient(to top right, #01463b, #26a69a);
	}
	.container-menu-mini__item {
		display: block;
		width: 106px;
		border-bottom: 2px solid #fff;
		margin: 27px 15px;
	}
	.container-menu-mini__item:hover {
		border-bottom: 2px solid #fb8c00;
	}
	.container-menu-mini__link {
		color: #fff;
		text-decoration: none;
		font-size: 20px;
	}
	.container-menu-mini__link:hover {
		color: #fb8c00;
		border-bottom: 2px solid #fb8c00;
	}

	.scroll {
		overflow: hidden;
	}
	.display {
		display: none;
	}

	.container-present__forename_mini {
		color: #fff;
		margin-top: 15px;
		transition: 0;
	}
	.container-present__prof_mini {
		color: #fb8c00;
		margin-top: 10px;
		margin-bottom: 23px;
		transition: 0;
	}
	.top {
		top: 439px;
		transition: .5s;
	}
	.copyright {
		height: 50px;
		line-height: 50px;
	}
	.copyright__text {
		font-size: 12px;
		height: 50px;
	}



/*МОДАЛЬНОЕ ОКНО ДЛЯ МОБИЛЬНОЙ ВЕРСИИ*/

.overlay-modal {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
}
.modal-overlay {
	display: flex;
	width: 200px;
	height: 30px;
	margin-top: 40px;
	margin-left: 10px;
	border-bottom: 2px solid #fff;
}

.modal {
	position: absolute;
	width: 220px;
	height: 280px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background: linear-gradient(to top right, #01463b, #26a69a);
	border-radius: 10px;
}
.modal-name,
.modal-phone {
	outline: none;
	border: none;
	font-size: 16px;
	color: #fff;
	background-color: rgba(0,0,0,0);
}
::-webkit-input-placeholder {
	color: #f5f6fa;
	opacity: .6;
}
.fa-user,
.fa-mobile-alt {
	width: 20px;
	font-size: 20px;
	color: #fff;
}
.modal-submit {
	width: 200px;
	height: 40px;
	margin-top: 50px;
	margin-left: 10px;
	font-size: 16px;
	border-radius: 8px;
	border: none;
	color: #01463b;
	cursor: pointer;
}
.modal-submit:hover {
	background-color: #fb8c00;
	color: #fff;
	transition: .4s;
	box-shadow: -5px 5px 10px #01463b;
}

.close-modal {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.close-modal:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-modal:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}
}